main.home {
  flex: 1;
  background: #0480c70d;
  padding: 2rem 5%;
  .home__game-levels {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    .game-level {
      display: flex;
      flex-direction: column;
      align-items: center;
      .game-level__text-easy {
        color: green;
      }
      .game-level__text-medium {
        color: orange;
      }
      .game-level__text-hard {
        color: red;
      }
      .level-img {
        max-width: 100%;
        width: 30rem;
        transition: all 0.5s;
        &:hover {
          box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.623);
          transform: scale(1.03);
        }
        &:active {
          transform: scale(1);
        }
      }
    }
  }
}
