main.home {
  flex: 1;
  padding: 2rem 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .home__game-levels {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    .game-level {
      display: flex;
      flex-direction: column;
      align-items: center;
      .game-level__text-easy {
        color: green;
      }
      .game-level__text-medium {
        color: orange;
      }
      .game-level__text-hard {
        color: red;
      }
      .level-img {
        max-width: 100%;
        width: 30rem;
        @media (max-width: 1000px) {
          width: 20rem;
        }
        transition: all 0.5s;
        &:hover {
          box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.623);
          transform: scale(1.03);
        }
        &:active {
          transform: scale(1);
        }
      }
    }
  }
  .home__leaderboard-logo {
    display: flex;
    align-items: center;
    margin-top: 50%;
    @media (max-width: 1000px) {
      margin-top: 20%;
    }
    font-size: 3.5rem;
    @media (max-width: 600px) {
      font-size: 2rem;
    }
    color: goldenrod;
    font-weight: 300;
    .home__leaderboard-logo-img {
      height: 8rem;
      @media (max-width: 600px) {
        height: 5rem;
      }
    }
  }
}
